<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="mt-4">コメント一覧</h2>

      <table class="table table-hover">
        <thead class="table-active">
          <tr>
            <th>会員ID</th>
            <th>表示名</th>
            <th>日時</th>
            <th>コメント内容</th>
            <th></th>
          </tr>
        </thead>
        <% @comments.each do |comment| %>
          <tbody>
            <tr>
              <td><%= comment.member.id %></td>
              <td>
                <%= comment.subtask.member.display_name %></td>
              <td><%= l comment.created_at %></td>
              <td><%= comment.comment %></td>
              <th>
                <%= link_to "削除", admin_comment_path(comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger", remote: true %>
              </th>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

