<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <h2 class="mt-4">コメント一覧</h2>

      <table class="table table-hover">
        <thead class="table-active">
          <tr>
            <th style="width: 10%">会員ID</th>
            <th style="width: 20%">表示名</th>
            <th style="width: 15%">日時</th>
            <th style="width: %">コメント内容</th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <% @comments.each do |comment| %>
          <tbody>
            <tr>
              <td><%= comment.member.id %></td>
              <td style="display: block; overflow-y:scroll; height:100px;">
                <%= image_tag comment.member.get_profile_image, size: "50x50" %>
                <%= link_to comment.subtask.member.display_name, admin_member_path(comment.member.id) %>
              </td>
              <td><%= l comment.created_at %></td>
              <td style="display: block; overflow-y:scroll; height:100px;"><%= comment.comment %></td>
              <th>
                <%= link_to "削除", admin_task_subtask_comment_path(comment.subtask.task, comment.subtask, comment, comment_index: true), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger" %>
              </th>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

