<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2 offset-md-1 mt-4">
      <div style="text-align:center;">
        <h5 class="text-center"><strong>コメント一覧</strong></h5>
        <hr class="col-md-10 mt-2">
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th style="width: 10%">会員ID</th>
            <th style="width: 20%">表示名</th>
            <th style="width: 15%">日時</th>
            <th style="width: 40%">コメント</th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <% @comments.each do |comment| %>
          <tbody>
            <tr>
              <td><%= comment.member.id %></td>
              <td class="overflow-ellipsis">
                <%= image_tag comment.member.get_profile_image, size: "50x50", style: "border-radius: 50px;" %>
                <%= link_to comment.member.display_name.truncate(10), admin_member_path(comment.member.id) %>
              </td>
              <td><%= l comment.created_at %></td>
              <td style="display: block; overflow-y:scroll; height:100px;"><%= comment.comment %></td>
              <th>
                <%= link_to "削除", admin_task_subtask_comment_path(comment.subtask.task, comment.subtask, comment, comment_index: true), method: :delete, data: {confirm: "OKを押すと削除されます。本当によろしいですか？"}, class: "btn btn-sm btn-outline-danger" %>
              </th>
            </tr>
          </tbody>
        <% end %>
      </table>
      <div class="text-center">
        <div class="mx-auto" style="width: 100px;">
          <%= paginate @comments %>
        </div>
      </div>
    </div>
  </div>
</div>

