<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>メンバー</th>
      <th>サブタスク</th>
      <th>進捗</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% subtasks.each do |subtask| %>
      <tr>
        <td>
          <%= image_tag subtask.member.get_profile_image, size: "50x50" %>
          <%= subtask.member.display_name %>
        </td>
        <td><%= subtask.subtask_content.truncate(8) %></td>
        <td><%= link_to subtask.progress_status, task_subtask_path(@task, subtask) %></td>
        <!--favorites非同期-->
        <td id="favorite_">
        <td id="favorite_<%= subtask.id %>">
          <%= render "public/favorites/favorite", subtask: subtask %>
        </td>
        <!--comments非同期-->
        <td id="comments-count">
          <%= render "public/comments/count", subtask: subtask %>
        <td>
          <% if subtask.member_id == current_member.id %>
            <%= link_to "編集", edit_task_subtask_path(@task, subtask.id), class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= paginate subtasks %>
</div>