<div class="col-md-3">
  <table class="table table-hover table-inverse" style="text-align:center;">
    <thead>
      <tr>
        <th>サブタスク一覧</th>
      </tr>
    </thead>
  </table>
</div>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>メンバー</th>
      <th>サブタスク</th>
      <th></th>
      <th></th>
      <th></th>
      <th>進捗</th>
      <th></th>
    </tr>
  </thead>
  <% subtasks.each do |subtask| %>
    <tbody>
      <tr>
        <td>
          <%= image_tag subtask.member.get_profile_image, size: "50x50", style: "border-radius: 50px;" %>
          <%= subtask.member.display_name.truncate(10) %>
        </td>
        <td><%= link_to subtask.subtask_content.truncate(15), task_subtask_path(@task, subtask) %></td>
        <!--favorites非同期-->
        <td id="favorite_">
        <td id="favorite_<%= subtask.id %>">
          <%= render "public/favorites/favorite", subtask: subtask %>
        </td>
        <!--comments非同期-->
        <td id="comments-count">
          <%= render "public/comments/count", subtask: subtask %>
        </td>
        <td>
          <%= subtask.progress_status_i18n %>
          <% if subtask.member_id == current_member.id %>
          <%= link_to "更新", edit_task_subtask_path(@task, subtask), class: "btn btn-outline-primary" %>
          <% end %>
          </td>
      </tr>
    </tbody>
  <% end %>
</table>
<div class="text-center">
  <div class="mx-auto" style="width: 200px;">
    <%= paginate subtasks %>
  </div>
</div>