<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>メンバー</th>
      <th>内容</th>
      <th>進捗</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% subtasks.each do |subtask| %>
      <tr>
        <td>
          <% if subtask.image.attached? %>
            <%= image_tag subtask.image, size: "50x50" %>
          <% else %>
            <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
          <%= subtask.member.display_name %>
        </td>
        <td><%= subtask.subtask_content %></td>
        <td><%= link_to subtask.progress_status, task_subtask_path(@task, subtask) %></td>
        <!--favorites非同期-->
        <td id="favorite_">
          <%= render "public/favorites/favorite", subtask: subtask %>
        </td>
        <td><i class="fa-regular fa-comment-dots"></i> <%= subtask.comments.count %></td>
        <td>
          <% if subtask.member_id == current_member.id %>
            <%= link_to "編集", edit_task_subtask_path(@task, subtask.id), class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>