<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
  		<h2>子タスク詳細</h2>
  		<table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>メンバー</th>
            <th>内容</th>
            <th></th>
            <th>進捗</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @subtask.member.display_name %></td>
            <td><%= @subtask.subtask_content %></td>
            <td></td>
          <td>
	      	<%= form_with model: [@subtask.task, @subtask], local: true do |f| %>
          	<%= f.select :progress_status, Subtask.progress_statuses.keys %>
              <% if @subtask.member_id == current_member.id %>
          	    <%= f.submit "更新", class: "btn btn-success" %>
          	  <% end %>
      	  <% end %>
        </td>
      </table>
      <div id="form-group">
        <%= render "public/comments/form", subtask: @subtask, comment: @comment %>
      </div>
      <div id="form-group">
        <%= render "public/comments/index", subtask: @subtask %>
      </div>
    </div>
  </div>
</div>
