<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-10 offset-md-1 my-4 mt-5">
  		<table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>
              <%= image_tag @subtask.member.get_profile_image, size: "50x50", style: "border-radius: 50px;" %>
              <%= @subtask.member.display_name %>
            </th>
            <th>
              <%= @subtask.progress_status %>
              <% if @subtask.member_id == current_member.id %>
                <%= link_to "更新/編集", edit_task_subtask_path(@task, @subtask), class: "btn btn-outline-primary ml-3" %>
              <% end %>
            </th>
          </tr>
        </thead>
         <table class="mt-5", align="center" border="1" width="750">
        <tr>
          <th class="table-active text-center", width="20%">サブタスク</th>
          <td class="text-left", valign="top", style="display: block; overflow-y:scroll; height:200px; word-break: break-all;">
            <%= safe_join(@subtask.subtask_content.split("\n"),tag(:br)) %>
          </td>
        </tr>
        </tr>
      </table>
      <!--comments非同期-->
      <div class="form-group　my-4 mt-5">
        <hr>
        <%= render "public/comments/form", subtask: @subtask, comment: @comment %>
      </div>
      <div id="comments-area">
        <%= render "public/comments/index", subtask: @subtask, comments: @comments %>
      </div>
    </div>
  </div>
</div>
