<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2 offset-md-1 mt-4">
      <div style="text-align:center;">
        <h5 class="text-center"><strong>タスク一覧</strong></h5>
        <hr class="col-md-8 mt-2">
      </div>
    </div>
    <div class="col-md-10 offset-md-1">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>タスク</th>
            <th>内容</th>
            <th>メンバー</th>
            <th>お気に入り</th>
            <th>達成率</th>
          </tr>
        </thead>
        <% @tasks.each do |task| %>
          <tbody>
            <tr>
              <td>
                <% if task.image.attached? %>
                  <%= image_tag task.image, size: "50x50", style: "border-radius: 50px;" %>
                <% else %>
                  <%= image_tag "no_image.jpg", size: "50x50", style: "border-radius: 50px;" %>
                <% end %>
              </td>
              <td><%= link_to task.task_title.truncate(10), admin_task_path(task) %></td>
              <td><%= task.task_content.truncate(10) %></td>
              <td><%= task.task_members.where(approval_status: 2).count %></td>
              <td>
                <i class="fa-solid fa-star"></i> <%= task.task_favorites.count %>
              </td>
              <td>
                <% if task.subtasks.size.zero? %>
                  0 %
                <% else %>
                  <%= ((task.subtasks.where(progress_status: 3).size / task.subtasks.size.to_f) * 100).round(2)%> %
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <div class="text-center">
        <div class="mx-auto" style="width: 100px;">
          <%= paginate @tasks %>
        </div>
      </div>
    </div>
  </div>
</div>
