<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2 offset-md-1 mt-4">
      <div style="text-align:center;">
        <h5 class="text-center"><strong>タスク詳細</strong></h5>
        <hr class="col-md-8 mt-2">
      </div>
    </div>
     <div class="col-md-10 offset-md-1">
      <div style="text-align:right;">
        <%= link_to "戻る", admin_tasks_path, class: "btn btn-outline-secondary fa-solid fa-arrow-rotate-left" %>
      </div>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>
              <% if @task.image.attached? %>
                <%= image_tag @task.image, size: "50x50", style: "border-radius: 50px;" %>
              <% else %>
                <%= image_tag "no_image.jpg", size: "50x50", style: "border-radius: 50px;" %>
              <% end %>
            </th>
            <th>
              <!--タスク(グループ)に参加していると子タスク一覧が表示されるようになる仕様。-->
              <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                メンバー
              </a>
              <% owner = Member.find_by(id: @task.owner_id) %>
              <% @members = @task.members.includes(:task_members).where(task_members: {approval_status: 2}).where.not(id: @task.owner_id) %>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <%= image_tag owner.get_profile_image, size: "50x50", style: "border-radius: 50px;" %>
                  <%= owner.display_name.truncate(10) %>
                  <% @members.each do |member| %>
                  <%= image_tag member.get_profile_image, size: "50x50", style: "border-radius: 50px;" %>
                  <%= member.display_name.truncate(10) %>
                  <% end %>
                </div>
              </div>
            </th>
            <th>
              <%= link_to "子タスク一覧", admin_task_subtasks_path(@task), class: "btn btn-outline-secondary" %>
            </th>
            <th class="text-danger font-weight-bold">
              達成率
              <% if @task.subtasks.size.zero? %>
                0 %
              <% else %>
                <%= ((@task.subtasks.where(progress_status: 3).size / @task.subtasks.size.to_f) * 100).round(2)%> %
              <% end %>
            </th>
            <th>
              <%= link_to "編集", edit_admin_task_path(@task), class: "btn btn-outline-primary" %>
            </th>
          </tr>
        </thead>
      </table>
      <table class="my-4 mt-5", align="center" border="1" width="750" height="500">
        <tr>
          <th class="table-active text-center", width="20%" height="20%">タスク</th>
          <td class="text-center" style="word-break: break-all;"><%= @task.task_title %></td>
        </tr>
        <tr>
          <th class="table-active text-center", width="20%" height="80%">詳細</th>
          <td class="text-left", valign="top", style="display: block; overflow-y:scroll; height:430px; word-break: break-all;">
            <%= safe_join(@task.task_content.split("\n"),tag(:br)) %>
          </td>
        </tr>
        </tr>
      </table>
    </div>
  </div>
</div>