<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <h4><strong>マイページ</strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-9 px-0 mt-3 mx-auto">
      <div class="col-6">
        <h5 class="font-weight-bold mb-3">
          登録情報
          <% unless current_member.email == "guest@example.com" %>
          <%= link_to "編集する" , edit_information_path, class: "btn btn-success ml-5" %>
          <% end %>
        </h5>
      </div>
      <table class="table table-bordered">
        <tr>
          <th class="table-active">プロフィール画像</th><td><%= image_tag @member.get_profile_image, size: "80x80" %></td>
        </tr>
        <tr>
          <th class="table-active">表示名</th><td><%= @member.display_name %></td>
        </tr>
        <% unless current_member.email == "guest@example.com" %>
        <tr>
          <th class="table-active">ユーザーネーム</th><td><%= @member.user_name %></td>
        </tr>
        <tr>
          <th class="table-active">メールアドレス</th><td><%= @member.email %></td>
        </tr>
        <% end %>
      </table>
      <div class="col-9 px-0">
        <table class="table table-borderless">
          <tr>
            <th>親タスクお気に入り一覧</th>
            <% unless current_member.email == "guest@example.com" %>
            <th><%= link_to "お気に入り",  task_favorites_path(@member), class: "btn btn-primary" %></th>
            <% end %>
          </tr>
          <tr>
            <th>タスクグループ</th>
            <% unless current_member.email == "guest@example.com" %>
            <th><%= link_to "一覧",  tasks_path(member_id: @member.id), class: "btn btn-primary" %></th>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>