<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="mt-4">子タスク一覧</h2>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>メンバー</th>
            <th>内容</th>
            <th>進捗</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @subtasks.each do |subtask| %>
            <tr>
              <td>
                <%= image_tag subtask.member.get_profile_image, size: "50x50" %>
                <%= subtask.member.display_name %>
              </td>
              <td><%= subtask.subtask_content %></td>
              <td><%= link_to subtask.progress_status, admin_task_subtask_path(@task, subtask) %></td>
              <td><i class="fa-solid fa-face-smile"></i> <%= subtask.favorites.count %></td>
              <td><i class="fa-regular fa-comment-dots"></i> <%= subtask.comments.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
