<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2 offset-md-1 mt-4">
      <table class="table table-hover table-inverse" style="text-align:center;">
        <thead>
          <tr>
            <th>サブタスク一覧</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="col-md-10 offset-md-1">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>メンバー</th>
            <th>サブタスク</th>
            <th></th>
            <th></th>
            <th>進捗</th>
          </tr>
        </thead>
        <tbody>
          <% @subtasks.each do |subtask| %>
            <tr>
              <td>
                <%= image_tag subtask.member.get_profile_image, size: "50x50", style: "border-radius: 50px;" %>
                <%= subtask.member.display_name.truncate(10) %>
              </td>
              <td><%= link_to subtask.subtask_content.truncate(15), admin_task_subtask_path(@task, subtask) %></td>
              <td><i class="fa-solid fa-face-smile"></i> <%= subtask.favorites.count %></td>
              <td><i class="fa-regular fa-comment-dots"></i> <%= subtask.comments.count %></td>
              <td><%= subtask.progress_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
