<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
  		<h2>子タスク詳細</h2>
  	</div>

		<table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>メンバー</th>
          <th>内容</th>
          <th></th>
          <th>進捗</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= link_to @subtask.member.display_name, admin_member_path(@subtask.member.id) %></td>
          <td><%= @subtask.subtask_content %></td>
          <td></td>
          <td><%= @subtask.progress_status %></td>
          <td>
            <%= link_to "削除", admin_task_subtask_path(@subtask.task.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="comments-area">
      <%= render "admin/comments/index", subtask: @subtask, comments: @comments %>
    </div>
  </div>
</div>