</div><div class="container">
  <div class="row">
    <div class="col3-md offset-2 mb-4">
      <h4 class="my-4 mt-5"><strong>新規会員登録</strong></h4>
    </div>
  </div>

  <%= form_with model: @public, url: new_member_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table　table-borderless table-sm">
        <div class="field">
          <tr>
            <td><%= f.label :display_name, "表示名" %></td>
            <td></td>
            <td><%= f.text_field :display_name, autofocus: true, autocomplete: "display_name" %></td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <td><%= f.label :user_name, "ユーザーネーム" %><br>
            <span class="text">※『半角英数字／ﾋﾟﾘｵﾄﾞ(.)／ｱﾝﾀﾞｰﾊﾞｰ(_)』のみ使用可能</span></td>
            <td></td>
            <td><%= f.text_field :user_name, autocomplete: "user_name" %></td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td></td>
            <td><%= f.email_field :email, autocomplete: "email"%></td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <td><%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %><br>
              <span class="text">※<%= @minimum_password_length %>文字以上で入力</span>
            <% end %></td>
            <td></td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
        </div>
        <div class="field">
          <tr>
            <td><%= f.label :password_confirmation, "パスワード" %><br>
            <span class="note-text">※確認用</span></td>
            <td></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
        </div>

        <div class="actions">
          <tr>
            <td></td>
            <td><%= f.submit "新規登録", class: "btn btn-secondary" %></td>
          </tr>
        </div>
      </table>
    </div>
  </div>
  <% end %>

  <div class="row">
    <h6 style="background-color:#EEEEEE">既に登録済みの方</h6>
  </div>

  <div class="row mb-5">
    <h6 class="ml-3"><%= link_to "こちら", new_member_session_path %>からログインしてください。</h6>
  </div>
</div>
