<div class="container">
  <div class="row">
    <div class="col-5 px-0 mx-auto">
      <div class="mb-4　mt-5">
        <h4><strong>新規会員登録</strong></h4>
      </div>

      <%= form_with model: @member, url: member_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

      <div class="field mb-4 mt-5">
        <%= f.label :display_name, "表示名" %>
        <%= f.text_field :display_name, autofocus: true, autocomplete: "display_name", class: "form-control" %>
      </div>
      <div class="field mb-4">
        <%= f.label :user_name, "ユーザーネーム" %>
          <br><span class="text">※『半角英数字(a-z/0-9)』のみ使用できます。</span></td>
        <%= f.text_field :user_name, autocomplete: "user_name", class: "form-control" %>
      </div>
      <div class="field mb-4">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="field mb-4">
       <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <br><span class="text">※<%= @minimum_password_length %>文字以上で入力してください。</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="field mb-4">
        <%= f.label :password_confirmation, "パスワード" %>
          <br><span class="note-text">※確認用です。</span></td>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="field mb-4">
        <%= f.label :profile_image, "プロフィール画像" %><br>
        <img id="preview" src="/assets/no_image.jpeg" class="member-icon" style="width: 100px; height: 100px">
        <%= f.file_field :profile_image, accept: "image/*", onchange: "previewImage(this);" %>
      </div>

      <div class="actions text-center mb-4 mt-5">
        <%= f.submit "新規登録", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <h6 style="background-color:#EEEEEE">既に登録済みの方</h6>
  </div>

  <div class="row mb-5">
    <h6 class="ml-3"><%= link_to "こちら", new_member_session_path %>からログインしてください。</h6>
  </div>
</div>
