<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <% if task.image.attached? %>
            <%= image_tag task.image, size: "50x50" %>
          <% else %>
            <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
        </td>
        <td><%= link_to task.task_title, task_path(task) %></td>
        <td><%= task.task_content %></td>
        <td>
          <% if task.owner_id == current_member.id %>
            <%= link_to "編集", edit_task_path(task), class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>