<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-4 mt-5">
      <div style="text-align:center;">
        <h5 class="text-center"><strong>タスク編集</strong></h5>
        <hr class="mt-2">
      </div>

      <% if @task.errors.any? %>
      <%= @task.errors.count %>件エラーが発生しました。以下ご確認お願いいたします。
        <ul>
          <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

  		<%= form_with model: @task, local: true do |f| %>
        <div class="form-group mb-4 mt-5">
          <%= f.label :タスク %>
          <%= f.text_field :task_title, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group mb-4">
          <%= f.label :詳細 %>
          <%= f.text_area :task_content, class: "form-control" %>
        </div>
        <div class="form-group mb-4">
          <%= f.label :タスク画像（変更する場合は選択してください） %><br>
          <img id="preview" src="/assets/no_image.jpeg" class="member-icon" style="width: 100px; height: 100px">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="form-group mb-4">
          <%= f.label :オーナー %><br>
          <%= f.select :owner_id, options_from_collection_for_select(@task.members.where.not(id: @task.owner_id), :id, :display_name), { include_blank: "変更する場合は選択してください"}
 %>
        </div>
        <div class="form-group text-center my-4 mt-5">
          <%= f.submit "変更を保存", class: "btn btn-outline-secondary mr-5" %>
          <%= link_to "削除", task_all_destroy_path(@task), method: :delete, data: { confirm: "OKを押すと削除されます。本当によろしいですか？" }, class: "btn btn-outline-danger ml-5 px-4" %>
        </div>
      <% end %>
  	</div>
  </div>
</div>

<script>
  $('#task_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
  });
</script>