<div class="container px-5 px-sm-0">
  <div class="row">
    <div class= "col-md-8 my-4">
      <%= render "index", tasks: @tasks %>
    </div>
    <div class="col-md-4 my-4">
      <div style="text-align:right;">
        <%= link_to "更新順", tasks_path %> |
        <%= link_to "新着順", sort_new_path(new: "true") %> |
        <%= link_to "古い順", sort_old_path(old: "true") %>
      </div>
      <%= render "search", keyword: @keyword %>
      <%= render 'form', task: @task %>
    </div>
  </div>
</div>

<script>
  $('#task_image').on('change', function (e) {
    var reader = new FileReader();
    reader.onload = function (e) {
        $("#preview").attr('src', e.target.result);
    }
    reader.readAsDataURL(e.target.files[0]);
  });
</script>