<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2 class="mt-3">親タスク投稿</h2>
      <%= render 'form', task: @tasknew %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>親タスク詳細</h2>
  		<table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>親タスク</th>
            <th>内容</th>
            <th>メンバー</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
  		  <tr>
  		    <td>
  		      <% if @task.image.attached? %>
              <%= image_tag @task.image, size: "50x50" %>
            <% else %>
              <%= image_tag "no_image", size: "50x50" %>
            <% end %>
          </td>
  		    <td><%= @task.task_title %></td>
          <td><%= @task.task_content %></td>
          <td>
            <!--タスク(グループ)に参加していると子タスク一覧が表示されるようになる仕様。-->
            <% memberids = [] %>
            <% @task.members.each do |member| %>
            <% memberids.push(member.id) %>
            <% if @task.image.attached? %>
              <%= image_tag task.image, size: "50x50" %>
            <% else %>
              <%= image_tag 'no_image', size: "50x50" %>
            <% end %>
              <%= member.display_name %><br>
            <% end %>
          </td>
          <td>
            <% if memberids.include?(current_member.id) %>
            <%= link_to "子タスク一覧", task_subtasks_path(@task), class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
          <td>
            <% if @task.owner_id == current_member.id %>
              <%= link_to "編集", edit_task_path(@task), class: "btn btn-sm btn-danger" %>
            <% elsif @task.members.include?(current_member) %>
              <%= link_to "退出", task_path(@task), method: :delete, class: "btn btn-sm btn-danger" %>
            <% else %>
              <%= link_to "参加", task_join_path(@task), class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>